<form action="/verify" method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" placeholder="example@gmail.com" /> <p id="suggest" class="help-inline" style="display:none"></p>
  <br>
  <input type="submit" value="Test!" class="btn" />
</form>
