<form action="/verify" method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" placeholder="example@gmail.com" /><br>
  <input type="submit" value="Test!" class="btn" />
</form>
